/* == CSS RESET == */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* == CSS STYLE CUSTOM == */

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  letter-spacing: -0.03rem;
}

.wrapper {
  display: grid;
  max-width: 776px;
  margin-inline: auto;
  margin-block-start: 1rem;
  padding: 1rem;
  row-gap: 1rem;
  justify-content: center;
  /* border: 1px solid #e0e0e0; */
}

.body-form {
  /* border: 1px solid #e0e0e0; */
  /* width: 400px; */
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-inline: 2rem;
}

.table {
  display: grid;
  /* border: 1px solid #e0e0e0; */
  /* width: 400px; */
}

/* === CSS Style -> Table ===  */

  .table-output  {
    border-collapse: collapse;
    padding: 0.5rem;
    width: 650px;
  }

  th,
  td {
    padding-block: 0.5rem;
    border: 1px solid #e0e0e0;
  }

  .body-form td {
    border: none;
  }

  th[scope='col'] {
    font-weight: 500;
    border: none;
  }

  th[scope='col']:nth-child(3) {
    border: none;
  }

  tr > td:nth-child(3) {
    border: none;
  }


  td[scope='row'] {
    text-align: start;
    padding-inline-start: 1rem;
  }

  .body-form td[scope='row'] {
    text-align: start;
    padding-inline-start: 1rem;
    width: 200px;
  }

  td {
    text-align: center
  }

  .body-table td > input {
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: rgb(216, 108, 108);
    font-weight: 500;
    color: #fff;
    font-size: 0.9rem;
  }


  .body-form td > input {
    margin-inline-start: 1.5rem;
    border: none;
    box-shadow:
    0px 1.7px 1.4px rgba(0, 0, 0, 0.009),
    0px 3.1px 3.6px rgba(0, 0, 0, 0.013),
    0px 4.6px 7.3px rgba(0, 0, 0, 0.017),
    0px 7.9px 15px rgba(0, 0, 0, 0.021),
    0px 19px 41px rgba(0, 0, 0, 0.03)
    ;
  }

  .table-input .submit {
    background-color: rgb(117, 194, 117);
    width: 6rem;
    height: 1.9rem;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 500;
  }


